# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.iml

.DS_Store
node_modules/
/dist/
__pycache__
/server/venv/

/backend/venv/
/backend/database.sqlite
/client/cypress/videos/
/estimo.tar.gz
